<div class="col-md-12 " >
    <h2>Add student</h2>
</div>

<div class="wrapper wrapper-content animated fadeIn marginclass">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Student Admission</a></li>
        <li><a data-toggle="tab" href="#menu1">Personal Details</a></li>
        <li><a data-toggle="tab" href="#menu2">Contact Details</a></li>
        <li><a data-toggle="tab" href="#menu3">Class & Batch </a></li>
        <li><a data-toggle="tab" href="#menu4">Settings</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>

              <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Admission Number</label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="Adate">Admission Date</label>
                <div class="controls">
                  <input type="text" id="Adate" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>
              <br/>

              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">cancel</button>

                  <button class="btn btn-success">save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div id="menu1" class="tab-pane fade">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>

              <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="fname">First Name</label>
                <div class="controls">
                  <input type="text" id="Fname" name="username" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="mname">Middle Name</label>
                <div class="controls">
                  <input type="text" id="Mname" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="lname">Last Name</label>
                <div class="controls">
                  <input type="text" id="Lname" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="dob">Date Of Birth</label>
                <div class="controls">
                  <input type="password" id="dob" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="nation">Nationality</label>
                <div class="controls">
                  <input type="password" id="nation" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="mobile">Mobile</label>
                <div class="controls">
                  <input type="password" id="mobile" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="Bplace">Mother Tongue</label>
                <div class="controls">
                  <input type="password" id="Bplace" name="password_confirm" placeholder="" class="input-xlarge">
                </div>
              </div>
            <br/>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">cancel</button>

                  <button class="btn btn-success">save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div id="menu2" class="tab-pane fade">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>

              <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="address1">Address Line 1</label>
                <div class="controls">
                  <input type="text" id="address1" name="username" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="address2">Address Line 2</label>
                <div class="controls">
                  <input type="text" id="address2" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="city">City</label>
                <div class="controls">
                  <input type="text" id="city" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="state">State</label>
                <div class="controls">
                  <input type="password" id="state" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="pincode">Pincode</label>
                <div class="controls">
                  <input type="password" id="pincode" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="country">country</label>
                <div class="controls">
                  <input type="password" id="country" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="mobile1">Mobile</label>
                <div class="controls">
                  <input type="password" id="mobile1" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="password" id="email" name="password_confirm" placeholder="" class="input-xlarge">
                </div>
              </div>
              <br/>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">cancel</button>

                  <button class="btn btn-success">save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div id="menu3" class="tab-pane fade">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>

              <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="class">Class</label>
                <div class="controls">
                  <select type="text" id="class" name="username" placeholder="" class="input-xlarge">
                    <option value="select a class">Select a Class</option>
                    <option value="X">X</option>
                    <option value="X1">X1</option>
                    </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="class">Batch</label>
                <div class="controls">
                  <select type="text" id="batch" name="username" placeholder="" class="input-xlarge">
                    <option value="select a class">Select a Batch</option>
                    <option value="X">X</option>
                    <option value="X1">X1</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="city">Roll Num</label>
                <div class="controls">
                  <input type="text" id="Rnum" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>


              <br/>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">cancel</button>

                  <button class="btn btn-success">save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div id="menu4" class="tab-pane fade">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>

              <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="biometric">Biometric ID</label>
                <div class="controls">
                  <input type="text" id="biometric" name="username" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="checkbox">Enable SMS Feature</label>
                <div class="controls">
                  <input type="checkbox" id="checkbox" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="checkbox1">Enable Email Feature</label>
                <div class="controls">
                  <input type="checkbox" id="checkbox1" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>

              <br/>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">cancel</button>

                  <button class="btn btn-success">save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
